*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.Newdiscdebut{
    width: 100%;
    height: auto;
    background: rgb(247, 247, 247);
    h1{
        font-family:Teko-Medium;
        font-weight:600;
        letter-spacing:6px;
        width: 100%;
        height: 84px;
        bottom:0;
        text-align: center;
        background-color: rgb(243, 243, 243);
        padding-top:34px; 
    }
    ul{
        width: 600px;
        margin: 0 auto;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            font-size: 15px;
            color:#000;
            cursor: pointer;
        }
        li.actives{
            color:#31c27c;
        }
    }
}
.swiperboxsc{
    width: 100%;
    height: auto;
    position: relative;
    
    &:hover{
        #iconfont{
            left:0px;
        }
        #iconaont{
            right: 0px;
        }
    }
    ol{
    li{
        width: 100%;
        margin: 0 auto;
        #iconfont{
            position: absolute;
            top:46.5%;
            width: 80px;
            height: 108px;
            left:-200px;
            transition: all 0.5s;
            transform: translateY(-50%);
            cursor: pointer;
            text-align: center;
            line-height: 108px;
            font-size: 40px;
            z-index: 99999;
        }
        #iconaont{
            position: absolute;
            cursor: pointer;
            top:46.5%;
            right: -200px;
            width: 80px;
            transition: all 0.5s;
            height: 108px;
            transform: translateY(-50%);
            text-align: center;
            line-height: 108px;
            font-size: 40px;
        }
    .qqslidec{
        width: 100%;
        box-sizing: border-box;
        .boxetec{
            width: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 20px 80px;
            transition: all 0.5s;
            flex-wrap: wrap;
            justify-content: space-between;
        .h4but{
            width: 220px;
            display: flex;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            i{
                padding: 0 4px;
                font-style:normal
            }
        }
        #hct:last-child{
            i{
                display: none;
            }
        }
        dl{
            height: auto;
            position: relative;
            overflow: hidden;
            .coverimg{
                width: 220px;
                height: 220px;
                background: rgba(0,0,0,0);
                position: absolute;
                top:0;
                left:0;
            }
            .coverimgs{
                width: 70px;
                height: 70px;
                background-size: cover;
                position: absolute;
                top:50%;
                left:50%;
                margin: -35px;
                cursor: pointer;
                transform: scale(0) translateZ(0);
                transition-property: opacity,transform;
                transition-duration: .5s;
                zoom: 1;
            }
            dt{
                width: 220px;
                height: 220px;
                overflow: hidden;
                position: relative;
                img{
                    width: 220px;
                    width: 220px;
                    transform: scale(1) translateZ(0);
                    transition-property: opacity,transform;
                    transition-duration: .5s;
                    zoom: 1;
                }
                &:hover{
                    .coverimgs{
                        transform: scale(1) translateZ(0);
                        transition-property: opacity,transform;
                        transition-duration: .5s;
                        zoom: 1;
                    }
                    img{
                        width: 220px;
                        height: 220px;
                        transform: scale(1.1) translateZ(0);
                        transition-property: opacity,transform;
                        transition-duration: .5s;
                        zoom: 1;
                    }
                    .coverimg{
                        width: 220px;
                        height: 220px;
                        background: rgba(0,0,0,.2);
                        position: absolute;
                        top:0;
                        left:0;
                    }
                }
            }
            dd{ 
                p{
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    width: 220px;
                    margin-top: 10px;
                    color:#000;
                    &:hover{
                        color:#31c27c;
                        cursor: pointer;
                    }
                }
                span{
                    display: block;
                    color:#999;
                    font-family:Teko-Medium;
                    font-weight:500;
                    &:hover{
                        color:#31c27c;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
}
}
    .swiper-container{
        width: 100%;
        height: 100%;
    }
    .swiper-pagination{
        position: absolute;
        bottom: -4px !important;
        background: rgb(247, 244, 244);
    }
}
/* <div className="swiper-slide">
                            <div className = 'boxetec'>
                                {
                                    listnoe.length > 0 ? listnoe.map((item,index)=>{
                                      return  <dl key={index} className="Tatgbust" mid = {item.id}>
                                          <dt><img className="coverimg" src={`https://y.gtimg.cn/music/photo_new/T002R300x300M000${item.album_mid}.jpg?max_age=2592000`} alt=""/><div className='coverimg' ><div  className='coverimgs' onClick={()=>{this.imgsone(item,index)}} style={{backgroundImage: 'url(' + cover + ')'}}></div> </div></dt>
                                          <dd>
                                            <p title={item.album_name}>{item.album_name}</p>
                                            <h4 className='h4but'>
                                              {item.singers.map((items,indexs)=>{
                                                return item.singers.length > 1 ? <span id='hct' key={indexs}>{items.singer_name} <i>/</i> </span> : <span key={index}>{items.singer_name}</span>
                                            })}
                                            </h4>
                                            
                                          </dd>
                                        </dl>
                                    }) : <div style={{width:'100%',height:'281px'}}><img src={shuju} alt="" style={{marginTop: '10%',marginLeft: '50%',transform: 'translate3d(-50%,-50%,0)'}}/><h3 style={{position: 'absolute',bottom: '100px',left: '50%',transform: 'translateX(-50%)'}}>哦呦,数据走丢了！！！</h3></div>
                                  } 
                          </div>
                      </div>
                      <div className="swiper-slide">
                          <div className = 'boxetec'>
                              {
                                  listtow.length > 0 ? listtow.map((item,index)=>{
                                    return  <dl key={index} className="Tatgbust" mid = {item.id}>
                                        <dt><img className="coverimg" src={`https://y.gtimg.cn/music/photo_new/T002R300x300M000${item.album_mid}.jpg?max_age=2592000`} alt=""/><div className='coverimg' ><div  className='coverimgs' onClick={()=>{this.imgsone(item,index)}} style={{backgroundImage: 'url(' + cover + ')'}}></div> </div></dt>
                                        <dd>
                                          <p title={item.album_name}>{item.album_name}</p>
                                          <h4 className='h4but'>
                                            {item.singers.map((items,indexs)=>{
                                              return item.singers.length > 1 ? <span id='hct' key={indexs}>{items.singer_name} <i>/</i> </span> : <span key={index}>{items.singer_name}</span>
                                          })}
                                          </h4>
                                          
                                        </dd>
                                      </dl>
                                  }) : <div style={{width:'100%',height:'281px'}}><img src={shuju} alt="" style={{marginTop: '10%',marginLeft: '50%',transform: 'translate3d(-50%,-50%,0)'}}/><h3 style={{position: 'absolute',bottom: '100px',left: '50%',transform: 'translateX(-50%)'}}>哦呦,数据走丢了！！！</h3></div>
                              } 
                          </div>
                      </div>
                      <div className="swiper-slide">
                          <div className = 'boxetec'>
                              {
                                  listtrr.length > 0 ? listtrr.map((item,index)=>{
                                    return  <dl key={index} className="Tatgbust" mid = {item.id}>
                                        <dt><img className="coverimg" src={`https://y.gtimg.cn/music/photo_new/T002R300x300M000${item.album_mid}.jpg?max_age=2592000`} alt=""/><div className='coverimg' ><div  className='coverimgs' onClick={()=>{this.imgsone(item,index)}} style={{backgroundImage: 'url(' + cover + ')'}}></div> </div></dt>
                                        <dd>
                                          <p title={item.album_name}>{item.album_name}</p>
                                          <h4 className='h4but'>
                                            {item.singers.map((items,indexs)=>{
                                              return item.singers.length > 1 ? <span id='hct' key={indexs}>{items.singer_name} <i>/</i> </span> : <span key={index}>{items.singer_name}</span>
                                          })}
                                          </h4>
                                          
                                        </dd>
                                      </dl>
                                  }) : <div style={{width:'100%',height:'281px'}}><img src={shuju} alt="" style={{marginTop: '10%',marginLeft: '50%',transform: 'translate3d(-50%,-50%,0)'}}/><h3 style={{position: 'absolute',bottom: '100px',left: '50%',transform: 'translateX(-50%)'}}>哦呦,数据走丢了！！！</h3></div>
                              } 
                          </div>
                      </div>
                      <div className="swiper-slide">
                          <div className = 'boxetec'>
                              {
                                  listfour.length > 0 ? listfour.map((item,index)=>{
                                    return  <dl key={index} className="Tatgbust" mid = {item.id}>
                                        <dt><img className="coverimg" src={`https://y.gtimg.cn/music/photo_new/T002R300x300M000${item.album_mid}.jpg?max_age=2592000`} alt=""/><div className='coverimg' ><div  className='coverimgs' onClick={()=>{this.imgsone(item,index)}} style={{backgroundImage: 'url(' + cover + ')'}}></div> </div></dt>
                                        <dd>
                                          <p title={item.album_name}>{item.album_name}</p>
                                          <h4 className='h4but'>
                                            {item.singers.map((items,indexs)=>{
                                              return item.singers.length > 1 ? <span id='hct' key={indexs}>{items.singer_name} <i>/</i> </span> : <span key={index}>{items.singer_name}</span>
                                          })}
                                          </h4>
                                          
                                        </dd>
                                      </dl>
                                  }) : <div style={{width:'100%',height:'281px'}}><img src={shuju} alt="" style={{marginTop: '10%',marginLeft: '50%',transform: 'translate3d(-50%,-50%,0)'}}/><h3 style={{position: 'absolute',bottom: '100px',left: '50%',transform: 'translateX(-50%)'}}>哦呦,数据走丢了！！！</h3></div>
                              } 
                          </div>
                      </div> */