.MusicHall{
    width: 100%;
    height: auto;
    .MusicHall-list{
        width: 950px;
        font-size: 15px;
        line-height: 52px;
        margin:  0 auto;
        height: 52px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            list-style: none;
        }
    }
}
.activee{
    color:#31c27c !important;
}